*.a
*.o
*.dSYM
ngr_*
*~
Makefile.in
Makefile
m4/
missing
install-sh
libtool
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
ltmain.sh
.deps
.libs
*.lo
*.la
